{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <h1 class="headline">Recent Posts</h1>

  <div class="article-list">
    {{ if isset .Site.Params "paginate" }}
        {{ .Scratch.Set "paginate" .Site.Params.paginate }}
    {{ else }}
        {{ .Scratch.Set "paginate" 3 }}
    {{ end }}
    {{ $paginator := .Paginate (where .Data.Pages "Section" "post") (.Scratch.Get "paginate") }}
    {{ range $paginator.Pages }}
      {{ partial "article-list-item.html" . }}
    {{ end }}
  </div>

  {{ if gt $paginator.TotalPages 1 }}
  <nav>
    {{ if $paginator.HasPrev }}
    <a class="nav-left" href="{{ $paginator.Prev.URL }}">&lt; Prev</a>
    {{ else }}
    <a class="nav-hidden">&lt; Prev</a>
    {{ end }}

    <span>{{ $paginator.PageNumber}} / {{ $paginator.TotalPages }}</span>

    {{ if $paginator.HasNext }}
    <a class="nav-right" href="{{ $paginator.Next.URL }}">Next &gt;</a>
    {{ else }}
    <a class="nav-hidden">Next &gt;</a>
    {{ end }}
  </nav>
  {{ end }}

{{ with .Site.Taxonomies.categories }}

  <h1 class="headline">Categories</h1>

  <section class="categories">
    {{ range $name, $value := . }}
    <h2 class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </h2>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <h1 class="headline">Tags</h1>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

</main>
